{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>

    {# pour récupérer le nom de l'entreprise  qui est dans le toString  du fichier Entreprise.php}
    {# et on récupère la raison sociale  #}
    <h2>{{ entreprise }}</h2>
    <p>
        {# Adresse : {{ entreprise.adresse }} {{ entreprise.cp }} {{ entreprise.ville }} #}
        Adresse : {{ entreprise.adresseComplete }} <br>
        {# on utilise la notre methode  pour formater et stringuer la date#}
        {# Date de création : {{  entreprise.dateCreationFr }} #}

        {# autre manière pour formater la date avec le codage twig ( voir le doc twig data filters) #}
        Date de création : {{  entreprise.dateCreation | date("d.m.Y") }}
    </p>

    <h3>Liste des salariés</h3>
    {% for employe in entreprise.employes %}
        
    {% endfor %}

{% endblock %}
